<div class="center jumbotron">
    <h1>Radolinek 39</h1>
    <h2>
        Witajcie w agroturystyce Radolinek 39! 
    </h2>
    
    <%= link_to "Rezerwacja", '#', class: "btn btn-lg btn-primary"%>
</div>    
    <%= image_tag("test.jpg", alt: "test")%>
